.gameBox {
  border: 2px dashed black;
  background: white;
  width: 174px;
  height: 174px;
  display: block;

  grid-area: gamebox;

  color: black;
  text-align: center;
  justify-self: center;

  font-weight: 600;
}
