.prediction {
  grid-area: left-sidebar;
  border-right: 2px solid var(--primary);
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--grey-bg);
}

.prediction h2 {
  font-size: 2rem;
  line-height: 2.875rem;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
}

.upArrow {
  display: inline;
  color: var(--green);
}

.downArrow {
  display: inline;
  color: var(--pink);
  transform: rotate(180deg);
}

.upButton,
.downButton,
.upButtonSelected,
.downButtonSelected {
  background: white;
  color: black;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: 140px;
}

.upButtonSelected {
  border: 5px solid var(--green);
}

.upButton:hover,
.upButtonSelected:hover {
  border-color: var(--green);
}

.downButtonSelected {
  border: 5px solid var(--pink);
}

.downButton:hover,
.downButtonSelected:hover {
  border-color: var(--pink);
}

.predictButton {
  display: block;
  width: 100%;
  max-width: 305px;
  margin: 25px 24px;
  color: white;
  background: var(--primary);
  font-weight: 600;
  font-size: 28px;
}

.predictButton:hover {
  background: #4478e1;
}

.predictButton:disabled {
  background: #95a4c2;
}
.predictButtonContainer {
  gap: 25px;
  display: flex;
  justify-content: center;
}
.directionButtonsContainer {
  display: flex;
  gap: 25px;
  justify-content: center;
}
button {
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
  transition-duration: 0.4s;
}

button span {
  font-weight: 700;
  font-size: 1.5rem;
}
