.statistics {
  grid-area: right-sidebar;
  border-left: 2px solid #27437b;

  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;

  background: #333232;
}

.statistics h2 {
  font-size: 2rem;
}

.score {
  font-size: 5rem;
  font-weight: 800;
  padding-bottom: 10rem;
}
table {
  table-layout: auto;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: 0.75rem;
}
td,
th {
  border-bottom: 1px solid #ffffff;
  padding: 0.5rem;
  white-space: nowrap;
}
